# Normal installed app using deployed API:
VITE_API_URL=https://lost-and-found-murex-kappa.vercel.app/api

# Android emulator local Django:
VITE_API_URL=http://10.0.2.2:8000/api

# Physical Android device local Django on same Wi-Fi:
VITE_API_URL=http://192.168.1.54:8000/api
